#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 4mm;
    margin: 0 auto;
    width: 76mm;
    background: #fff;
}

::selection{
    background: #f31544;
    color: #fff;
}

::moz-selection{
    background: #f31544;
    color: #fff;
}

h1{
    font-size: 1.5em;
    color: #222;
}

.table_title h2{
    font-size: 1.2em;
}

h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

p{
    font-size: 0.7em;
    color: #666;
    line-height: 1.2em;
}

#top,
#mid,
#bot{
    border-bottom: 1px solid #eee;
}

#top{
    min-height: 100px;
}

#bot{
    min-height: 50px;
}

#top .logo{
    height: 60px;
    width: 60px;
    border-radius: 20%;
    background: url(https://i.ibb.co/pvWqtgW/logo.png)no-repeat;
    background-size: 50px 50px;
}

.clientlogo{
    float: left;
    height: 60px;
    width: 60px;
    background: url()no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}

.info{
    display: block;
    margin-left: 0;
}

.title{
    float: right;
}

.title p{
    text-align: right;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.table_title{
    font-size: 0.5em;
    background: #eee;
}

.service{
    border-bottom: 1px solid #eee;
}

.item{
    width: 24mm;
}

.item_text{
    font-size: 0.5em;
}

#legalcopy{
    margin-top: 5mm;
}